body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    /*justify-content: center;
    display: flex;
    flex-wrap: wrap;*/
    text-align: center;
}


p {
    font-size: 20px;
}

#filterDropdown {
    margin-bottom: 14px;
    height: 20px;
}

#container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    min-height: 300px;
    width: 300px;
    vertical-align: text-top;
    background: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    margin: 0px 0 20px 0;
}

.card p {
    font-size: 16px;
}

.card p.title {
    font-size: 18px;
    font-weight: bold;
}

.card p.author,
.card p.publication-year {
    font-size: 16px;
    margin: 10px 0px;
}

.card p.rating {
    margin-top: 40px;
}